#certCard {
    background: #f0e6ff;
    border-radius: 2px;
    /* height: 325px; */
    /* height: max-content; */
    min-height: 300px;
    max-height: fit-content;
    min-width: 250px;
    max-width: 400px;
    /* width: 325px; */
    margin: 2rem;
    position: relative;
    box-shadow: 0 6px 9px #999, 0 6px 9px #999;
    text-align: left;
  }
  
  #certImg {
    text-align: center;
    overflow: hidden;
    background:#c299ff;
    height: 200px;
  }
  
  #certBody {
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 15px;
    background-color: hsl(264, 100%, 97%);
    /* margin-bottom: 0; */
  }

  #certHead {
    text-align: center;
    color: #140033;
    background-color: hsl(264, 100%, 97%);
    font-weight: bolder;
    /* height: 4rem; */
    margin-bottom: 1rem;
  }
  
  #certTitle {
    text-align: center;
    color: #140033;
    margin-bottom: 1rem;
    /* height: 4rem; */
  }

  #certSubT {
    margin-bottom: 2rem;
    height: 1.2rem;
  }

  .card-text {
    margin-bottom: 0;
  }
