#projCard {
  background: #f0e6ff;
  border-radius: 2px;
  height: 325px;
  margin: 1rem;
  position: relative;
  width: 325px;
  box-shadow: 0 6px 9px #999, 0 6px 9px #999;
  text-align: left;
}

#projImg {
  text-align: center;
  overflow: hidden;
  background:#c299ff;
  height: 60%;
}

#projBody {
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 15px;
}

#projTitle {
  text-align: center;
  color: #140033;
}
