
.container {
    vertical-align: middle;
    align-self: center;
    margin-top: 25%;
}

.intro {
    height: 100vh;
    position: relative;
    top: 0;
    padding: 5%;
    color: #fff;
    background-color: #140033;
    text-align: center;
}

/* .container {
    width: 100%;
    text-align: center;
    padding: 5%;
} */

.intro-title {
    color: #fff;
    font-weight: 600;
    font-size: 3rem;
}

.intro-subtitle {
    font-size: 1.5rem;
    font-weight: 300;
}

.text-slider-items {
    font-weight: bolder;
}

